<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>F4859AC4-9951-4908-8C1E-B49EDE74854E</string>
	<key>title</key>
	<string>TODO</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
